click==8.1.3
Flask==2.2.2
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pypdf==3.3.0
typing-extensions==4.4.0
Werkzeug==2.2.2
zipp==3.12.0
python-dotenv==1.0.0
PyMuPDF==1.21.1
boto3==1.26.80
pymongo==4.3.3
openai==0.26.5
tiktoken
nltk
langchain
